body{
    font-family: Arial, sans-serif;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid white;
  box-shadow: 5px 10px 10px black;
}

main {
    background-color: lightgrey;
    padding: 20px;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.menu-btn{
    color:white;
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a { 
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    color: white;
}

header {
    background-color: #006EB6;
    padding: 20px 0;
}

h2{
    text-align: center;
}

footer {
    background-color:#006EB6;
    color: white;
    padding: 5px;
    text-align: center;
}


@media (min-width: 700px) {
    div {
        max-width: 70%;

    }
    
}

@media (min-width: 1200px) {
 .menu-btn {
        display: none;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    nav ul li {
        margin: 0 15px;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover {
        text-decoration: none;
        color: #616061;
    }
}