
body{
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #006EB6;
    padding: 20px 0;
}

h1{
    text-align: center;
    color: white;
}


#menu-btn {
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

nav {
    display: none;
}
nav a {
    padding: 20px;
    color: white;
}
nav a:hover {
    text-decoration: underline;
    color: lightgrey;
}

.mobile-nav {
    display: none;
    text-align: center;
    flex-direction: column;
}

.mobile-nav a {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    background-color: lightgrey;
    padding: 20px;
}
h2{
    text-align: center;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid white;
  box-shadow: 5px 10px 10px black;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
footer {
    background-color:#006EB6;
    color: white;
    padding: 5px;
    text-align: center;
}


@media (min-width: 700px) {
    div {
        max-width: 70%;

    }
}

@media (min-width: 1200px) {
    #menu-btn {
        display: none;
    }
    .mobile-nav {
    display: none;
    }
    nav {
        display: block;
        text-align: center;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    nav ul li {
        margin: 0 15px;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover {
        text-decoration: none;
        color: #616061;
    }

    dialog img {
        margin: 15vh auto;
        width: 50%;
        height: auto;
        object-fit: contain;
        max-height: 75vh;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
    
}